@import '../variables.scss';
@import '../mixins.scss';

.profile-statistic {
  @include desktop {
    max-height: 400px;
    width: 800px;
  }
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: $color-white;
    padding: 20px;
    border-radius: 5px;
    @include desktop {
      flex-direction: row;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 2);
    padding: 20px;
    border: 1px solid $color-grayLight;
    border-radius: 5px;
    @include desktop {
      width: calc(100% / 3);
    }
  }
  &__name {
    text-transform: capitalize;
    @include font-size(22px);
    color: $color-red;
    text-align: center;
    font-weight: bold;
    margin: 0 0 40px 0;
  }
  &__image {
    width: 100%;
  }

  &__info {
    display: flex;
    padding: 30px;
  }

  &__description {
    display: grid;
    flex-direction: column;
    list-style: none;
  }

  &__items {
    margin: 5px 0;
    display: grid;
    grid-template-columns: 1fr;
    @include desktop {
      grid-template-columns: 1fr 2fr;
    }
  }

  &__property {
    padding: 7px 5px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    width: 3rem;
    text-align: center;
    margin-right: 10px;
    @include font-size(14px);
  }

  &__value {
    margin-left: 10px;
    display: flex;
    @include font-size(14px);
    background-color: $color-redLight;
    min-width: 250px;
    border-radius: 5px;
    overflow: hidden;
    height: 35px;
    &--inner {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      color: $color-white;
      align-items: center;
      display: flex;
    }
  }

  &__number {
    margin-left: 10px;
    display: flex;
  }
}
