@import '../variables.scss';
@import '../mixins.scss';

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0 2rem 0;
  &__icons {
    position: relative;
    display: flex;
    padding: 0 10px;
    border-radius: 5px;
    align-items: center;
    background-color: $color-white;
  }
  &__icon-search {
    width: 14px;
    height: 14px;
  }
  &__icon-cancel {
    width: 12px;
    height: 12px;
  }
  &__input {
    margin: 0;
    border-color: transparent;
    border-radius: 5px;
    padding: 10px 55px;
  }
}
