@import '../variables.scss';
@import '../mixins.scss';

.pokemon {
  &__item {
    position: relative;
    width: 200px;
    height: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 5px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      transition: opacity 0.2s ease-in-out;
    }
    &:hover::after {
      opacity: 1;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__wrapper {
    padding: 20px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__name {
    background-color: $color-red;
    color: $color-white;
    text-align: center;
    display: flex;
    padding: 15px 0;
    flex-direction: column;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    text-transform: capitalize;
  }
}
