@import '../variables.scss';
@import '../mixins.scss';

.pokemons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  &__wrapper {
    min-width: 300px;
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    &--empty {
      display: flex;
      justify-content: center;
    }
  }
  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include font-size(14px);
    font-weight: bold;
  }
}
