.pokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  flex-direction: column;
  &__filter {
    display: flex;
    margin: 20px 0;
  }
  &__icon-grid {
    width: 18px;
    height: 18px;
    margin: 0 10px 0 0;
  }
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}
