@import '../variables.scss';
@import '../mixins.scss';

.navigation {
  background-color: $color-red;
  padding: 2rem 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: $color-white;
  &__logo > img {
    width: 20%;
    height: auto;
    margin: 0 5rem;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5rem;
  }

  &__item {
    display: flex;
    @include font-size(14px);
    justify-content: center;
    width: 100px;
  }

  &__link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin: 0 2rem;
    &:hover,
    &:focus {
      &:before {
        content: '';
        top: -10px;
        width: 25px;
        left: 40%;
        position: absolute;
        border-top: 2px solid white;
        padding-bottom: 10px;
      }
    }
  }
}
