// colors
$color-red: #ff3e4e;
$color-redLight: rgba(255, 61, 77, 0.1);
$color-blue: #24b4ff;
$color-blueLight: rgba(36, 180, 255, 0.15);
$color-gray: #a5a5a5;
$color-grayDark: #777777;
$color-white: #fcfcfc;
$color-black: #1d1d1d;
$color-grayLight: #e8e8e8;
